<?php
	$configdata=$block->getSliderConfig();
	$sliders=$block->getSliderImages();
?>
<link href="<?php echo $this->getViewFileUrl('Tuyenln_Slider::css/jquery.bxslider.css') ?>" type="text/css" rel="stylesheet" />
 <ul class="bxslider">
 <?php foreach($sliders as $slider){ ?>
		<li>
			<img src="<?php echo $slider['slider_image']; ?>" alt="No Image"/>
		</li>
<?php } ?>
 </ul></div>
<script>
	require(['jquery','<?php echo $this->getViewFileUrl('Tuyenln_Slider::js/jquery.bxslider.min.js')?>'],function($jQuery){
		var boolarry={'1':true,'0':false};
		$config=JSON.parse('<?php echo json_encode($configdata) ?>');
		console.log($config);

		jQuery(document).ready(function(){
		  jQuery('.bxslider').bxSlider({
		  	auto: $config['auto'],
		  	adaptiveHeight: boolarry[$config['autoheight']],
  			mode: $config['mode'],
  		    speed: $config['slide_speed'],
		  });
		});
	});
</script>

